<div class="py-10">
    <header>
        <div class="mx-auto px-4 sm:px-6 lg:px-8 pb-4 sm:pb-6 lg:pb-8">
            <SfSkeleton Shape=SkeletonType.Rectangle Width="50%" Height="45px"></SfSkeleton>
            <SfSkeleton Shape=SkeletonType.Text Width="100%" Height="25px"></SfSkeleton>
        </div>
    </header>
</div>