<div class="mt-8 border-t border-gray-200">
    <div class="md:flex md:items-center md:justify-start mx-auto px-4 md:px-6 lg:px-8 pt-8 pb-16 md:pt-8 md:pb-8">
        <div class="flex space-x-6 md:order-2 md:ml-6">
            <a href="mailto:support@munichain.com" class="text-sm text-gray-400 hover:text-gray-500">Contact Support</a>
        </div>
        <p class="mt-4 text-sm text-gray-400 md:mt-0 md:order-1">
            &copy;@DateTime.Now.Year Munichain LLC
        </p>
    </div>
</div>